* {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

h2, h3, h4 {
  font-family: "inter";
  font-size: 20px;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
}
body img {
  border-radius: 0.5rem;
}

footer, header {
  height: 110px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
footer li:hover, header li:hover {
  cursor: pointer;
  transition: 0.15s;
  transform: scale(1.25);
  border-bottom: 2px solid rgb(255, 255, 255);
}
footer .container, header .container {
  margin: 0 auto;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  text-align: center;
}
footer .logo-container, header .logo-container {
  margin-left: 1rem;
  position: absolute;
  text-align: center;
}
footer .logo, header .logo {
  width: 50px;
  height: 50px;
  font-size: 15px;
  font-family: "Zen Dots";
  font-weight: lighter;
}
footer nav, header nav {
  margin: 0 auto;
}
footer nav ul, header nav ul {
  width: 100%;
  font-weight: bold;
  font-family: "inter";
  font-size: 13px;
  display: flex;
}
footer a, header a {
  color: rgb(255, 255, 255);
}
footer h1, header h1 {
  font-family: "Zen Dots";
  font-size: 42px;
  font-weight: bolder;
  margin-top: 20px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}
header nav {
  width: 75%;
  max-width: 525px;
  margin-top: 20px;
}
header nav ul {
  justify-content: space-around;
}
header i {
  position: absolute;
  margin-left: 0.5rem;
}

footer {
  bottom: 0;
  height: 140px;
}
footer nav {
  margin-top: 20px;
  width: 40%;
  max-width: 150px;
}
footer nav ul {
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
}
footer .copyright {
  margin-top: 10px;
}

@media only screen and (min-width: 960px) {
  li {
    font-size: 140%;
  }
  header .container {
    width: 960px;
  }
  header nav {
    width: 100%;
    margin-top: 10px;
  }
  footer .container {
    width: 960px;
  }
}
@media (min-width: 640px) {
  footer nav {
    max-width: 525px;
  }
  footer nav ul {
    flex-wrap: nowrap;
    gap: 10px;
  }
  footer .copyright {
    margin-top: 25px;
  }
}
* {
  text-decoration: none;
}

main {
  flex: 1;
  width: 100%;
  padding: 5vh 0;
  gap: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(80, 78, 78);
  z-index: 1;
}
main .input:hover {
  transition: 0.15s;
  border: 2px solid rgb(0, 0, 0);
}
main section {
  width: 90vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  padding: 0.75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 0 0.75rem rgb(0, 0, 0);
}
main section h2 {
  font-family: "inter";
}
main section img {
  max-width: 100%;
}
main section ul {
  font-size: 14px;
}
main form {
  box-shadow: 0 0 0.75rem rgb(0, 0, 0);
  width: 90vw;
  margin: 0 auto;
  font-family: "inter";
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}
main form .btn {
  margin: 0 auto;
  font-family: "inter";
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.5rem;
  height: 50px;
  width: 150px;
}
main form .input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 0.25rem;
  padding: 3px 0 3px 3px;
  border: 2px solid rgb(160, 160, 160);
}
@media screen and (min-width: 960px) {
  main section {
    width: 900px;
  }
  main form {
    width: 700px;
    padding: 50px 112px;
  }
  main form .input {
    font-size: 16px;
  }
}/*# sourceMappingURL=kontakt.css.map */